@import "../../theme/colours.scss";

.darkTheme .sidebar {
  background: $darkGray;
}
.sidebar {
  background: white;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar .logoCnt {
  padding-bottom: 10px;
}

.sidebar .main {
  flex: 1;
}

.sidebar .bottom {
  height: 60px;
}

.logoCnt figure.image {
  height: 60px;
  margin: 20px auto;
}
