// Set your brand colors
$pink: #fa7c91;
$brown: #757763;
$light: #fff3cd;
$dark: #1b1b2f;
$red: #f44c67;
$purple: #3b3c74;
$orange: #ffbd69;
$green: #2fca74;
$lightBlue: #0069ff;
$whiteBlue: #f0f5f9;
$blue: #3e68db;
$blue2: #717dfb;
$temp: #f0f5f9;
$gray: #ecedf2;

$whiteBg: rgb(252, 252, 252);

$darkFg: #ddd;
$darkGray: #2a2a2c;
$darkGrayBg: #242424;
