@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800");

@import "./colours.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
// Update Bulma's global variables
$family-primary: "Open Sans";
$primary: $purple;
$link: $pink;

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass"; // make sure its first to setup vars
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/helpers/_all.sass";

// custom own
html,
body {
  height: 100%;
  min-height: 100%;
}

#root {
  height: 100%;
  min-height: 100%;
}

.fullHeight {
  height: 100%;
  min-height: 100%;
}

.lightTheme,
.darkTheme {
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.appCnt {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
}

.sidebarCnt {
}

.contentCnt {
  width: 80%;
}

@import "./mixins.scss";
@import "./general.scss";
