@import "../theme/colours.scss";

.darkTheme .sidebarCnt {
  border-right: 1px solid $darkGray;
}

.sidebarCnt {
  display: flex;
  width: 20%;
  border-right: 1px solid $gray;
}

.contentCnt {
  flex: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
